@font-face {
  font-family: 'Carrois Gothic';
    src:  url('../carrois-gothic/CarroisGothic-Regular.ttf') format('truetype');
}

.container {
  font-family: 'Carrois Gothic';
  max-width: 1200px;
  margin: 0 auto;
  position:relative;
}


table {
  border-collapse: collapse;
  border: 2px solid #FF8543;
  margin: auto;
}
th, td {
  width: 10rem;
  height: 3.5rem;
  text-align: center;
}
tr {
  border-bottom: 2px solid #FF8543;
  border-top: 2px solid #FF8543;
  border-collapse: collapse;
  }

tr:nth-child(even) {
    /*background: #fcf2e8;*/

    background-color: #fcf2e8;
    -webkit-background-blend-mode: multiply;
}
tr:nth-child(odd) {
    background: #ffd9b3;
}
tbody tr th:first-child {
  text-align: left;
  padding-left: 5px;
}

h1 {
  text-align: center;
  font-size: 36px;
  letter-spacing: .01em;
}

thead th {
  background-color: #FF8543;
  font-size: 18px;
  /*font-style: italic;*/
  color: #fcf2e8;
}
.gif {
  border-radius: 50%;
  border: 3px solid #FF8543;
  width: 600px;
  height: 600px;
}
#nickpic1 {
  position: absolute;
  top: 10px;
  left: 80px
}
#nickpic2 {
  top: 10px;
  position: absolute;
  right: 80px
}
#nickpic3 {
  bottom: 25px;
  position: absolute;
  left: 50px;
}
