@font-face {
  font-family: 'Carrois Gothic';
    src:  url('../carrois-gothic/CarroisGothic-Regular.ttf') format('truetype');
}
.container {
  width: 240px;
  border: 2px solid black;
  padding: 5px;
  font-family:sans-serif;
  letter-spacing: -.015em;
}

.smalltext {
  font-size: 9px;
}
.bigtext {
  font-size: 12px;
}
.textalign-right {
  text-align: right;
}
.textalign-left {
  text-align: left;
}
table {
  border-collapse: collapse;
}
td {
  width: 145px;
  height: 0;
  /*border: 1px solid black;*/
  margin: 0px;
}
.borderbottom {
  border-bottom: 1px solid black;
  /*border-collapse: collapse;*/
}
.big-borderbottom {
  border-bottom: 4px solid black;
  /*border-collapse: collapse;*/
}
.huge-borderbottom {
  border-bottom: 11px solid black;
  /*border-collapse: collapse;*/
}
h1 {
  margin: 0px;
}
p {
  margin: 1px 0px 0px 5px;
}
.big-hr {
  height: 10px;
  background-color: black;
  margin: 2px 0px 2px 0px;
}
.sml-hr {
  height: 4px;
  background-color: black;
  margin: 2px 0px 2px 0px;
}
.tableindent {
  margin-left: 15px;
}
